<% files.each do |file| %>
  <% if file.is_directory %>
    <div id="directory-<%= file.id %>" class="entry directory-entry" 
        data-file-id="<%= file.id %>" data-expand-state="expanded">
      <div class="directory-name">
        <% unless file.directory_id.nil? %>
          <span class="remove-file-indicator remove-file hidden">
            <span class="glyphicon glyphicon-remove-circle aria-hidden="true""></span>
          </span>
        <% end %>
        <span class="collapsed">
          <span class="glyphicon glyphicon-folder-close aria-hidden="true""></span>
        </span>
        <span class="expanded">
          <span class="glyphicon glyphicon-folder-open aria-hidden="true""></span>
        </span>
        <% if file.directory_id.nil? %>
          /
        <% else %>
          <%= file.name %>
        <% end %>
        <span class="add-file-or-directory" data-toggle="modal" 
            data-target="#upload-files">
          <span class="glyphicon glyphicon-plus aria-hidden="true""></span>
        </span>

      </div>
      <div class="directory">
        <%= render template: "projects/_project_file_listing", 
                   locals: { :files => file.sub_tree } %>
      </div>
    </div>
  <% else %>
    <div class="entry file-entry" data-file-id="<%= file.id %>" 
        id="file-<%= file.id %>">
      <span class="remove-file-indicator remove-file hidden">
        <span class="glyphicon glyphicon-remove-circle aria-hidden="true""></span>
      </span>
      <a href="#<%= file.id %>"
        data-file-id="<%= file.id %>"
        ><%= file.name %></a>
      <span class="count comment-count">
        <span class="glyphicon glyphicon-comment"></span>
        <span class="badge"><%= file.comments.uniq.count %></span>
      </span>
      <span class="count altcode-count">
        <span class="glyphicon glyphicon-random"></span>
        <span class="badge"><%= file.alternative_codes.count %></span>
      </span>

    </div>
  <% end %>
</li>
<% end %>

