<% files.each do |file| %>
  <% if file.is_directory %>
    <div id="directory-<%= file.id %>" class="entry directory-entry" 
        data-file-id="<%= file.id %>" data-expand-state="expanded">        
      <div class="directory-name">
        <% unless file.directory_id.nil? %>
          <span class="edit-file-indicator edit-filename hidden"
            data-toggle="modal" data-target="#edit-filename-modal"
            title="Edit directory name">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"
            ></span>
          </span>

          <span class="edit-file-indicator remove-file hidden"
            data-toggle="modal" data-target="#confirm-delete-modal"
            data-delete-type="confirm-delete-file"
            title="Remove directory">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"
            ></span>
          </span>
        <% end %>

        <!-- <div class="checkbox"><input type="checkbox"></div> -->
        <input class="dir-select file-select hidden" type="checkbox">

        <span class="collapsed">
          <span class="glyphicon glyphicon-folder-close" aria-hidden="true"
          ></span>
        </span>
        <span class="expanded">
          <span class="glyphicon glyphicon-folder-open" aria-hidden="true"
          ></span>
        </span>
        <span class="file-name"
          ><%= file.directory_id.nil? ? "/" : file.name %></span>
        <span class="add-file-or-directory" data-toggle="modal" 
            data-target="#upload-files">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </span>

      </div>
      <div class="directory">
        <%= render template: "projects/_project_file_listing", 
                   locals: { :files => file.sub_tree } %>
      </div>
    </div>
  <% else %>
    <div class="entry file-entry" data-file-id="<%= file.id %>" 
        id="file-<%= file.id %>">
      <span class="edit-file-indicator edit-filename hidden"
        data-toggle="modal" data-target="#edit-filename-modal"
        title="Edit filename">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"
        ></span>
      </span>
      <span class="edit-file-indicator remove-file hidden"
        data-toggle="modal" data-target="#confirm-delete-modal"
        data-delete-type="confirm-delete-file"
        title="Delete file">
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"
        ></span>
      </span>
      <input class="file-select hidden" type="checkbox">
      <a href="#<%= file.id %>"
        data-file-id="<%= file.id %>" class="file-name"
        ><%= file.name %></a>
      <span class="count comment-count">
        <span class="glyphicon glyphicon-comment"></span>
        <span class="badge"><%= file.comments.uniq.count %></span>
      </span>
      <span class="count altcode-count">
        <span class="glyphicon glyphicon-random"></span>
        <span class="badge"><%= file.alternative_codes.count %></span>
      </span>

    </div>
  <% end %>
</li>
<% end %>

