<% provide(:title, "Projects") %>
<div id="projects-page" class="container">
  <h1>Projects</h1>



  <div class="row">
    
    <div id="project-modification-buttons" class="col-md-12">
      <!-- Delete selected projects. -->
      <button id="trash" class="btn btn-default"
        title="Delete selected projects"
        ><span class="glyphicon glyphicon-trash"></span></button>
  
      <!-- Dropdown for the labels. -->
      <div class="btn-group" id="modify-tags">
        <button class="btn btn-default dropdown-toggle" 
            type="button" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
          Modify/filter tags
          <span><span class="glyphicon glyphicon-tags"></span> </span> 
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu tags-dropdown list-group">
          <li>
            <form id="add-tag" >
              <div class="input-group" style="width: 100%">
                <span class="input-group-btn">
                  <button id="add-project-btn" 
                    class="btn btn-primary" type="submit"><span 
                      class="glyphicon glyphicon-plus"></span
                  ></button>
                </span>
                <input type="text" id="new-tag-text" 
                  class="form-control" 
                  placeholder="Enter a new tag...">
              </div>
            </form>
          </li>
          <li role="separator" class="divider"></li>
          <% @current_user.tags.sort{|x,y| x.text <=> y.text}.each do |tag| %>
          <li class="list-group-item tag" data-selected-project-count="0" 
              data-tag-id="<%= tag.id %>">
            <span class="selected-toggle action"
              ><span class="toggle selected hidden"
                  ><span class="glyphicon glyphicon-minus"></span></span
              ><span class="toggle deslected"
                  ><span class="glyphicon glyphicon-plus"></span></span
            ></span
            ><span class="filter-tag action"
              ><span class="glyphicon glyphicon-filter"></span></span>
            <span class="tag-text"><%= tag.text %></span> 
            <span class="project-count-container"
              >(<span class="project-count"
                  ><%= tag.projects.count %></span
              >)</span>
            <span class="delete-tag action"
              ><span class="glyphicon glyphicon-trash"></span></span>
            

          </li>
          <% end %>
        </ul>
      </div>
      <span id="filter-switch" class="hidden">
        <button class="btn btn-default turn-filtering-on hidden"
          >Filter selected tags</button>
        <button class="btn btn-default turn-filtering-off"
          >Turn off filter</button>
      </span>
    </div> 


    <% [[@authoredProjects, "My Projects", "authored-projects"], 
        [@viewableProjects, "Shared for viewing", "viewer-projects"],
        [@annotatableProjects, "Shared for annotating", "annotator-projects"]].each do |data| %>
    <div class="project-set col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= data[1] %></h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
              <% if data[2] == "authored-projects" %>
                <table width="100%">
                    <tr id="add-project-row">
                      <td>
                        <form id="add-project-form" >
                          <div class="input-group" style="width: 100%">
                            <span class="input-group-btn">
                              <button id="add-project-btn" 
                                class="btn btn-primary" type="submit"><span 
                                  class="glyphicon glyphicon-plus"></span
                              ></button>
                            </span>
                            <input type="text" id="new-project-name" 
                              class="form-control" 
                              placeholder="Enter a new project name...">
                          </div>
                        </form>
                      </td>
                      <td class="trash">
                        <button type="button" id="add-project-btn" 
                          class="btn btn-primary" 
                            data-toggle="modal"
                            data-target="#upload-files"
                            title="Upload/update projects with files"><span 
                            class="glyphicon glyphicon-cloud-upload"></span
                        ></button>
                      </td>
                    </tr>
                </table>
              <% end %>
              <% if data[0].empty? and data[2] != "authored-projects" %>
                <em>No projects.</em>
              <% else %>
                <table class="table table-hover sortable-theme-bootstrap 
                    projects-table <%= data[2] %>" 
                    data-sortable>
                  <thead>
                    <th class="select-all-projects" data-sortable="false"
                      ><span class="selected-toggle"
                        ><span class="toggle selected hidden"
                            ><span class="glyphicon glyphicon-check"></span></span
                        ><span class="toggle deslected"
                            ><span class="glyphicon glyphicon-unchecked"></span></span
                        ></span></th>
                    <th class="name">Name</th>
                    <th class="email">Creator</th>
                    <th class="date">Created on</th>
                    <th class="tags">Tags</th>
                  </thead>
                  <tbody>
                    <%= render data[0] %>
                  </tbody>
                </table>
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>

<div class="modal fade" id="confirm-delete-project-modal" tabindex="-1" 
    role="dialog" aria-labelledby="confirm-delete-project">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" 
            aria-label="Close"><span aria-hidden="true">&times;</span
        ></button>
        <h4 class="modal-title" id="project-comments">Are you sure you
            want to permenantly delete these projects?</h4>
      </div>
      <div class="modal-body">
        <strong>Projects:</strong> 
            <ul class='project-names'>
            </ul>
      </div>
      <div class="modal-footer">
        <button type="button" id="trash-projects" class="btn btn-danger" 
          >Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"
            >Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="confirm-delete-tag-modal" tabindex="-1" 
    role="dialog" aria-labelledby="confirm-delete-tag">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" 
            aria-label="Close"><span aria-hidden="true">&times;</span
        ></button>
        <h4 class="modal-title">Are you sure you
            want to permenantly delete the tag 
            "<span class="tag-text"></span>"?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" id="trash-tag" class="btn btn-danger" 
          >Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"
            >Cancel</button>
      /div>
    </div>
  </div>
</div>

<div class="modal fade" id="upload-files" tabindex="-1" 
    role="dialog" aria-labelledby="upload-files-title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" 
          aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="upload-files-title">Upload projects</h4>
      </div>
      <div class="modal-body">
        <input type="checkbox" id="batch-checkbox"> Batch upload 
        <span class="info">
        With batch upload, you can upload a zip file where every first level
        directory corresponds to a project you would like to create.
        </span><br/>

        <div id="batch-project-upload" class="hidden">
          <!-- <h4>Batch upload</h4> -->
          <!-- <form id="add-directory-form"> -->
            <%= form_for(:project, url: "/projects") do |f| %>
              <input type="hidden" name="project[batch]" value="true">
              <input type="checkbox" name="project[update]"> Update
              <span class="info">
              If update is checked, then for each first level directory in
              the zip file whose name matches up with an existing authorable
              project, the existing project will be updated. If multiple 
              authorable projects with that name exists, only one will be
              updated.
              </span><br/>
              Select one zip file to upload:
              <%= f.file_field "files", multiple: true, class: "form-control file-upload-selection" %>

         <!--      <input type="file" class="file-upload-selection"
                  name="project[files][]"/> -->
              <button type="button" 
                class="btn btn-default project-upload-submit">Upload</button>
            <% end %>
          <!-- </form> -->
        </div>

        <div id="single-project-upload">
          <!-- <h4>Add files</h4> -->
          <%= form_for(:project, url: "/projects") do |f| %>
              Project name: 
              <input type="text" name="project[name]" class="form-control project-name-input"
                placeholder="My project">
              Select one or more files to upload:
              <%= f.file_field "files", multiple: true, class: "form-control file-upload-selection" %>

              <!-- <input type="file" multiple="true" 
                  class="file-upload-selection" name="project[files][]"/> -->
              <button type="button" 
                class="btn btn-default project-upload-submit">Upload</button>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" 
          data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>


<div class="hidden">
  <table>
  <tr id="entry-template" class="clickable-row project project-main"
      data-href="" id=""
      data-filter-count="0">
    <td class="select-project">
      <span class="selected-toggle"
        ><span class="toggle selected hidden"
          ><span class="glyphicon glyphicon-check"></span></span
        ><span class="toggle deslected"
          ><span class="glyphicon glyphicon-unchecked"></span></span
      ></span></td>
    <td class="name"></td>
    <td class="email"></td>
    <td class="date" data-value=""></td>
    <td class="tags"></td>
  </tr> 
  

  </table>

  <!-- Project tag template (in the project listing). Should have a data-tag-id
    property added and the inner html should be the tag text. -->
  <span id="project-tag-template" class="tag label label-primary"></span>


  <!-- Project tag template (in the dropdown list). Should have a data-tag-id
      property added. The inner html of the .tag-text and .project-count
      spans needs to be added/updated. -->
  <ul>
    <li id="dropdown-project-tag-template"
        class="list-group-item tag" data-selected-project-count="0"> 
      <span class="selected-toggle action"
        ><span class="toggle selected hidden"
            ><span class="glyphicon glyphicon-minus"></span></span
        ><span class="toggle deslected"
            ><span class="glyphicon glyphicon-plus"></span></span
      ></span
      ><span class="filter-tag action"
        ><span class="glyphicon glyphicon-filter"></span></span>
      <span class="tag-text"></span> 
      <span class="project-count-container"
        >(<span class="project-count">0</span>)</span>
      <span class="delete-tag action"
        ><span class="glyphicon glyphicon-trash"></span></span>
    </li>

  </ul>

</div>



