<% provide(:title, @project.name) %>
<% provide(:no_footer, true) %>
<div class="container-fluid project-view">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar sidebar-collapse">
      <span class="sidebar-toggle btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Hide file list</span>
      <span class="project-title"><%= @project.name %></span>
      <div class="root-directory directory">
      <%= render template: "projects/_project_file_listing", 
                 locals: { :files => @project.getFilesAsDirectories.files } %>
        <% #render @project.project_files.sort{|x,y| x.name <=> y.name} %>
      </div>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div id="project-view-header">
        <div class="button-bar">
          <span class="sidebar-toggle btn btn-default btn-xs"><span class="glyphicon glyphicon-list-alt"></span> Show file list</span>
          <div class="btn-group" id="file-ops" role="group" aria-label="file operations">
            <% if @projectPermission.can_author %>
              <button type="button" class="btn btn-default btn-xs"
                data-toggle="modal" data-target="#upload-files"><span 
                class="glyphicon glyphicon-cloud-upload"></span> 
                Upload files
              </button>
            <% end %>
            <button type="button" class="btn btn-default btn-xs"><span 
              class="glyphicon glyphicon-print"></span> 
              Print files
            </button>
            <button type="button" class="btn btn-default btn-xs"><span 
              class="glyphicon glyphicon-cloud-download"></span> 
              Download files
            </button>
            <% if @projectPermission.can_author %>
              <button type="button" class="btn btn-default btn-xs"><span 
                class="glyphicon glyphicon-remove-circle"></span> 
                Remove files
              </button>
              <button type="button" id="share-project"
                class="btn btn-default btn-xs"
                data-toggle="modal" data-target="#project-sharing"><span 
                class="glyphicon glyphicon-transfer"></span> Share project
              </button>              
              <button type="button" id="delete-project"
                class="btn btn-default btn-xs"><span 
                class="glyphicon glyphicon-trash"></span> Delete project
              </button>
            <% end %>
          </div>
          <% if @projectPermission.can_annotate %>
          <div class="btn-group" id="selection-menu" role="group" 
                aria-label="selections">
            <button id="add-comment" type="button" 
                class="btn btn-default btn-xs disabled">
              <span class="glyphicon glyphicon-comment"></span>
              Add comment
            </button>
            <button id="add-to-comment" type="button" 
                class="btn btn-default btn-xs disabled"
                data-toggle="modal" data-target="#project-comments-modal">
              <span class="glyphicon glyphicon-plus"></span>
              Add to comment
            </button>
            <button id="add-alt-code" type="button" 
                class="btn btn-default btn-xs disabled">
              <span class="glyphicon glyphicon-random"></span>
              Add alternate code
            </button>
          </div>
          <% end %>
        </div>

        <h2 class="page-header"></h2>

      </div>

      <div id="file-and-annotations" class="row">
        <div id="file-display" class="col-sm-8 col-md-9"
          placeholder="Select a file to the left to have it displayed here."></div>

        <div id="comments" placeholder="No comments yet." 
          class="col-sm-4 col-sm-offset-8 col-md-3 col-md-offset-9"></div>
      </div>
    </div>

<!--     <div id="project-comments-outer-container" class="project-comments">
      <div id="project-comments-inner-container" class="center-center">

        <a href="#" class="close" data-dismiss="project-comments" 
          aria-label="close">&times;</a>

        Please select a comment to add the current highlighted location to.

        <div id="project-comment-lists">
          <h2>Comments associated with the current file</h2>
          <div id="current-file-comments" class="comment-list">
          </div>

          <h2>All comments associated with this project</h2>
          <div id="all-project-comments" class="comment-list">
          </div>
        </div>

      </div>
    </div> -->

    <div class="modal fade" id="project-comments-modal" tabindex="-1" 
        role="dialog" aria-labelledby="project-comments">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="project-comments">Project Comments</h4>
          </div>
          <div class="modal-body">
            <p>
            Click a comment to add your selection to.
            </p>

            <div id="all-project-comments">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="upload-files" tabindex="-1" 
        role="dialog" aria-labelledby="upload-files-title">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="upload-files-title">Upload files</h4>
          </div>
          <div class="modal-body">
          <%= form_for(:project_file, url: "/projects/#{@project.id}/files") do |f| %>
              <% f.file_field :files, multiple: true, class: "form-control" %>
          <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" id="file-upload-submit" disabled=disabled
              class="btn btn-default" data-dismiss="modal">Upload</button>

            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>


    <div class="modal fade" id="project-sharing" tabindex="-1" 
        role="dialog" aria-labelledby="project-sharing-title">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="project-sharing-title">Share project</h4>
          </div>
          <div class="modal-body">
            <table class="table table-hover">
              <tr id="add-permission-row">
                <td colspan="3">
                  <form id="add-permission-form">
                    <div class="input-group" style="width: 100%">
                      <span class="input-group-btn">
                        <button id="add-permission-btn" 
                          class="btn btn-primary" type="submit"><span 
                            class="glyphicon glyphicon-plus"></span
                        ></button>
                      </span>
                      <input type="text" id="new-permission-email" 
                        class="form-control" 
                        placeholder="Enter user email...">
                    </div>
                  </form>
                </td>
              </tr>
            <% @project.project_permissions.each do |permission| %>
              <% 
                next if permission.user and permission.user == current_user
                access = nil
                if permission.can_author
                  access = "author"
                elsif permission.can_annotate
                  access = "annotator"
                elsif permission.can_view
                  access = "viewer"
                end
              %>
              <tr data-permission-id="<%= permission.id %>">
                <td class="permission-email"><%= permission.user_email.nil? ? permission.user.email : permission.user_email %></td>
                <td>
                  <select name="access-level" class="form-control permission-options">
                    <option value="author" <%= access == "author" ? "selected=selected" : "" %>>Can author</option>
                    <option value="view" <%= access == "viewer" ? "selected=selected" : "" %>>Can view</option>  
                    <option value="annotate" <%= access == "annotator" ? "selected=selected" : "" %>>Can annotate</option>
                  </select>
                </td>
                <td class="permission-trash trash">
                  <span class="glyphicon glyphicon-trash"></span>
                </td>
              </tr>
            <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Templates. -->
<div id="templates" class="hidden">

  <!-- Comment template. -->
  <div id="comment-template" class="panel panel-default comment">
    <div class="panel-body comment-body" contenteditable="true"
      placeholder="Enter your comment here..."></div>
    <div class="panel-footer comment-footer">
      <span class="comment-owner"></span> 

      <% if @projectPermission.can_annotate %>
      <span class="comment-delete"><span class="glyphicon glyphicon-trash"></span></span> 
      <span class="comment-saved"><span class="glyphicon glyphicon-floppy-saved"></span></span>
      <% end %>
    </div>
  </div>


  <table>
    <tr id="new-permission-template" data-permission-id="">
      <td class="permission-email"></td>
      <td>
        <select name="access-level" class="form-control permission-options">
          <option value="author">Can author</option>
          <option value="view">Can view</option>  
          <option value="annotate">Can annotate</option>
        </select>
      </td>
      <td class="permission-trash tash">
        <span class="glyphicon glyphicon-trash"></span>
      </td>
    </tr>
  </table>

  <!-- Not a template, but is hidden data for use in templates. -->
  <div id="current-email"><%= current_user.email %></div>

</div>